{
    "parser": "babel-eslint",
    "globals": {
      "localStorage": "readonly",
      "document": "readonly",
      "window": "readonly"
    },
    "rules": {
      "strict": 0,
      "react/prop-types": 0,
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    },
    "plugins": [
      "react-hooks"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    }
}